/*common shared styles*/
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.theme-color{
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
}
.special-text{
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* nav related styles */
nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 100px;
     height: 130px;

}
nav ul{
    display:flex;
    align-items: center;
    
}


nav li{
    list-style: none;
    
}

nav a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
nav box p{
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin: 17px 17px;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
}
.navbar{
    align-items: center;
}
.nav-box{
    display: flex;
    width: 235px;
    height: 56px;
    background-color: rgba(11, 2, 35, 0.10);
    align-items: center;
    border-radius: 8px;
}

.logo{
    display: flex;
    gap: 20px; 

}


.anchor-text{
    margin-right: 30px;
}

.social-icon{
    display: flex;
    gap: 10px;
    margin-right: 15px;
}
/*Banner styles*/
.banner{
    display: flex;
    justify-content: space-between;

    
}
.left-side-banner{
    background-image: url('../images/Group\ 14.png');
    background-size: 580px;
    width: 580px;
    height: 580px;

}
.banner-text{
    padding-left: 100px;
    padding-top: 150px;
}
.first-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}
.second-title{
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.icon-text{
    display: flex;
    font-size: 20px;
    font-weight: 500;
    padding: 2px;
}
.right-side-banner img{
    width: 580px;
    height: 580px;
    margin-right: 100px;
    
}
.button-primary{
    margin-top: 20px;
    
}
.button1{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 25px;
    border-radius: 45px;
    border: 0;

}
.button2{
    background-color: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 25px;
    border-radius: 45px;
    border: 0;
    margin-left: 10px;
}
/*Main Content Styles*/

.game-title-section{
 text-align: center;
 margin: 60px auto 20px;
}
.game-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.special-text2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.game-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.video-game img{
    height: 300px;
    width: 200px;
}
.video-game p{
    width: 198px;
}
.game-collection{
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
}
/*more game section styles*/
.more-games{
 display: flex;
 justify-content: flex-end;
 margin-top: 100px;
    
}

.more-games-title {
    
      height: 500px;
      width: 500px; 
      padding-top: 100px;  
}

.title1{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.more-games-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 350px;
}
.more-games-image{
    display: grid;
    margin-right: 100px;
}
.big-image{
    width: 400px;
    height: 450px;
    padding-left: 90px;
}
.small-image{
    height: 200px;
    width: 180px;
    position: relative;
    bottom: 80%;
}
/*game list section styles*/
.game-list{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    padding: 100px 100px;   

}

.game-list-1{
    display:grid;
    grid-template-columns: repeat(5, auto);
    row-gap: 10px;
    
}

.card{
    display:flex;
    background-color: #FFF;
    width: 180px;
    height: 50px;
    border-radius: 40px;
       
}
.large-text{
    width: 210px;
}
.card p{
    
    font-size: 15px;
    font-weight: 400;
    margin: auto 5px;

}
.card img{
    height: 50px;
    width: 50px;
}

/*Footer Styles*/
footer{
    background: #0B0223;
}
.footer{
    padding: 100px 200px;
}
.footer-logo{
    padding-left: 300px;
}
.white-text{
    color: #FFF;
}
.footer-menu{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding-top: 70px;
}

.social-share{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 70px;
    padding-left: 50px;

}
.pages{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    padding-top: 70px;
    padding-left: 50px;
}
.copyright{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 0 auto;
    margin-top: 40px;
}

