/*common shared styles*/
body{
    font-family: 'Work Sans', sans-serif;
}
.theme-color{
    color: #0B0223;
}
/* nav related styles */
nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 150px;
     height: 130px;

}
nav ul{
    display:flex;
    align-items: center;
    
}


nav li{
    list-style: none;
    
}

nav a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
nav box p{
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin: 17px 24px;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
}
.navbar{
    align-items: center;
}
.nav-box{
    display: flex;
    width: 262px;
    height: 56px;
    background-color: rgba(11, 2, 35, 0.10);
    align-items: center;
    border-radius: 8px;
}

.logo{
    display: flex;
    gap: 20px;
   
}
.logo h3{
    
    font-size: 45px;
    font-weight: 700;

}
.anchor-text{
    margin-right: 50px;
}
.social-icon{
    gap: 15px;
}
